name: Autorerun

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  workflow_run:
    workflows: [ 'Release', 'EXPERIMENT' ]
    types: completed

jobs:
  rerun:
    runs-on: ubuntu-latest
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.38.1
        with:
          secrets_to_redact: '["${{ github.token }}","${{ secrets.ACTIONS_GITHUB_TOKEN }}"]'
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: '${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}'
          OTEL_EXPORTER_OTLP_HEADERS: '${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}'
      - run: echo "$GITHUB_EVENT_NAME"
      - run: echo "$GITHUB_EVENT_PATH"
      - run: cat "$GITHUB_EVENT_PATH"
      - uses: plengauer/autorerun@main
        with:
          github_token: ${{ secrets.ACTIONS_GITHUB_TOKEN }} 
    permissions:
      actions: read
