name: Renovate

on:
  schedule:
    - cron: '0 * * * *' # TODO
  workflow_dispatch:

concurrency:
  group: renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: renovatebot/github-action@v41.0.3
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ONBOARDING_CONFIG_FILE_NAME: .github/renovate.json
          RENOVATE_ONBOARDING_CONFIG: '{"$schema": "https://docs.renovatebot.com/renovate-schema.json", "extends": ["github>plengauer/bootstrap"]}'
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
